body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: -1px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.input_s {
  width: 135px;
  height: 48px;
}

.input_m {
  width: 278px;
  height: 48px;
}

.form-row {
  display: flex;
  align-items: center;
  gap: 8px;
}

.form-col {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
